<div class="container">
    <div class="row">
        <canvas id="Journal_By_Year"></canvas>
    </div>
    <div class="row">
        <p>Ce graph Montre l'évolution des journal par pays</p>
        <canvas id="Journal_By_Country"></canvas>
    </div>
    <div class="row">
        <p>Ce graph Montre l'évolution des journal par mois</p>
        <canvas id="Journal_By_month"></canvas>
    </div>
    <div class="row">
        <p>Ce graph Montre l'évolution des journal par quartile</p>
        <canvas id="Journals_By_Quartile"></canvas>
    </div>
    <div class="row">
        <p>Ce graph Montre l'évolution de Q2 par Pays</p>
        <canvas id="Q2_By_Country"></canvas>
    </div>
    <div class="row">
        <p>Ce graph Montre l'évolution de Q1 par Pays</p>
        <canvas id="Q1_By_Country"></canvas>
    </div>
</div>